<a href="https://colab.research.google.com/github/pulkitrajput147/ML-projects/blob/master/Project_Stock_Analysis_using_News_Headlines_in_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem- Stock Sentiment Analysis using News Headlines**

**Class1 = the stock price is increased**

**Class2 = the stock price is either decreased or stayed the same**

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('./Data.csv',encoding="ISO-8859-1")

In [ ]:
df.head(3)

         Date  ...                         Top25
0  2000-01-03  ...            Recovering a title
1  2000-01-04  ...  Millennium bug fails to bite
2  2000-01-05  ...                  Useful links

[3 rows x 27 columns]

In [ ]:
df.shape

(4101, 27)

In [ ]:
# checking wheteher the dataset is Balanced or not
true_count=len(df.loc[df['Label']==True])
false_count=len(df.loc[df['Label']==False])
(true_count,false_count)

(2166, 1935)

In [ ]:
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20141231']

In [ ]:
train.shape

(3975, 27)

In [ ]:
test.shape

(378, 27)

**Feature Engineering**

In [ ]:
# Removing Punctuations
data=train.iloc[:,2:27]
data.replace("[^a-zA-Z]"," ",regex=True,inplace=True)
data.head(2)

                                                Top1  ...                         Top25
0  Ahindrancetooperationsextractsfromtheleakedrep...  ...              Recoveringatitle
1                                          Scorecard  ...  Millennium bug fails to bite

[2 rows x 25 columns]

In [ ]:
#removing column names for ease of access
list1=[i for i in range(25)]
new_index=[str(i) for i in list1]
data.columns=new_index
data.head(2)

                                                   0  ...                            24
0  Ahindrancetooperationsextractsfromtheleakedrep...  ...              Recoveringatitle
1                                          Scorecard  ...  Millennium bug fails to bite

[2 rows x 25 columns]

In [ ]:
# Converting the Headlines to lower case
for i in new_index:
  data[i]=data[i].str.lower()
data.head(1)

                                                   0  ...                24
0  ahindrancetooperationsextractsfromtheleakedrep...  ...  recoveringatitle

[1 rows x 25 columns]

In [ ]:
# we have to convert all the news of a particular row in a single paragraph in order to apply tfidf
headlines=[]
for i in range(0,len(data.index)):
  headlines.append(' '.join(str(x) for x in data.iloc[i,0:25]))

In [ ]:
headlines[0]

'ahindrancetooperationsextractsfromtheleakedreports scorecard hughesinstanthitbuoysblues jackgetshisskatesonaticecoldalex chaosasmaracanabuildsupforunited depletedleicesterprevailaselliottspoilsevertonsparty hungryspurssenserichpickings gunnerssowideofaneasytarget derbyraiseaglasstostruparsdebutdouble southgatestrikesleedspaythepenalty hammershandrobsonayouthfullesson saintspartylikeits wearwolveshaveturnedintolambs stumpmikecatchestestygoughstaunt langerescapestohit flintoffinjurypilesonwoeforengland huntersthreatenjospinwithnewbattleofthesomme kohlssuccessordrawnintoscandal thedifferencebetweenmenandwomen saradenvernurseturnedsolicitor dianaslandminecrusadeputtoriesinapanic yeltsinsresignationcaughtoppositionflatfooted russianroulette soldout recoveringatitle'

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Applying Bag of Words
countvector=CountVectorizer(ngram_range=(2,2),max_features=5000)
traindataset=countvector.fit_transform(headlines)

In [ ]:
# Implementing RandomforestClassifier
model=RandomForestClassifier(n_estimators=200,criterion='entropy')
model.fit(traindataset,train['Label'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
#prediction for test dataset
test_transform=[]
for i in range(0,len(test.index)):
  test_transform.append(' '.join(str(x) for x in test.iloc[i,2:27])) 
test_dataset=countvector.transform(test_transform) 
prediction=model.predict(test_dataset) 
prediction=model.predict(test_dataset)

In [ ]:
# Checking the accuracy of the model
from sklearn.metrics import classification_report,accuracy_score
accuracy_score(test['Label'],prediction)

0.8333333333333334